<!-- <div class="rooms-grid">
    <div class="room-card" *ngFor="let room of rooms" [routerLink]="['/rooms', room.id]">
      <div class="room-image">
        <img [src]="room.imageUrl" [alt]="room.name" />
        <div class="price-tag">FROM {{ room.price }} $</div>
      </div>
      <div class="room-info">
        <h3>{{ room.name }}</h3>
        <p>
          <span class="icon">👤</span> {{ room.guests }} Guests 
          <span class="icon">📏</span> {{ room.size }} FT
        </p>
      </div>
    </div>
  </div>
   -->
